---
---
//Last updated 16-07-2014 by nadjetey @12.48am
/* configurations */
$primary-color: #f5f5f5;
$lnk-color: #afafaf;
$lnk-highlight-color: #333;

/* IMPORT CSS FILES */
// bootstrap (first, so custom styles can override)
@import "bootstrap.min";
// fontawesome icons
@import "font-awesome.min";
// base css
@import "site";
@import "modules";
// syntax highlighting
@import "syntax";
